# Ignore PyCharm/IntelliJ settings
.idea/
*.iml

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Mac system files
.DS_Store

# libraries (virtual environment)
venv/
.venv/


# secret local variables
.env

# testing stuff
/test_pile

# resources
/media_resources/
