google-genai
edge-tts
pydantic
pydantic-settings
PyYAML
moviepy==1.0.3
Pillow
python-dotenv
requests
ffmpeg-python
pythainlp
textgrid
transformers
uroman
myword
matplotlib
git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git
